   <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/user/register">Login/Register</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="login_box_img">
                        <img class="img-fluid" src="/img/product/nen.webp" alt="">
                        <div class="hover">
                            <h4>find your outdoor adventure</h4>
                            <p>Get hooked on the feeling of summer. Whether you’re in search of thrills, relaxation, or discovery, our latest collection is ready to adapt. It’s time to get outside and find your adventure.</p>
                            <a class="primary-btn" href="/user/logins">Login an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="login_form_inner">
                        <h3>Create your account</h3>
                     
                        <form class="row login_form" action="/user/register/store" method="post"  id="reg-form" novalidate="novalidate">
                        
                              <div class="col-md-12 form-group p_star">
                                    <div class="alert alert-danger" style="background-color: #fff;">{{err1}}</div>
                              </div>
                             <div class="col-md-12 form-group p_star">
                                <input type="email" autocomplete="off" class="form-control" id="email" name="Email"  placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                <div><p>{{err2}}</p></div>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password"  autocomplete="off" class="form-control" id="password" name="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                                <div><p>{{err3}}</p></div>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                
                                <input type="text" class="form-control" autocomplete="off" id="firstname" name="FirstName"  placeholder="First name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First name'">
                              
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" autocomplete="off" id="lastname" name="LastName"  placeholder="Last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last name'">
                               
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="number" class="form-control" autocomplete="off" maxlength="10" id="number" name="SDT" placeholder="Phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'"
                                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required >
                                <div><p>{{err4}}</p></div>
                            </div>
                           

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" autocomplete="off" id="addr" name="DiaChi" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'">
                             
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Create an account?</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" id="btn-submit" onclick="btnsubmit()" value="submit" class="primary-btn">Create account</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--================End Login Box Area =================-->

    <script>
        {{!-- function btnsubmit(){	
           
		$.ajax({
            url:'/user/register/store',
			type:'POST',
            data:{
					Email: $('#email').val(),
					Password: $('#password').val(),
                    FirstName: $('#firstname').val(),
                    LastName: $('#lastname').val(),
                    DiaChi: $('#addr').val(),
                    SDT: $('#number').val()
				}
		})
		.then(function(data){
               
              
               console.log(data.message) 
			    window.location.href= data.redirect
				alert(data.message) 
               
				{{!-- window.location.href='user/logins' --}}
		})
    
	} --}}
    </script>